*{
    background-color: hsl(168, 100%, 65%); 
    
}

p{
    color: rgb(33, 0, 110);  
}

/* combining 2 selectors element.class */
p.info {
    font-family: 'Indie Flower', cursive;
}

/* General sibling combinator (element + element) */
svg + aside{
    font-style: italic; 
}


/* Adjacent sibling combinator (element ~ element) */
details ~ p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* Selector List (element, element) */
ul, ol{
    border: 1px solid black;
    max-width: 18%;
    padding: 20px;
}


/* Child Combinator (element > element) */
form > h4{
    font-style: oblique; 
}

h1{
    color: #0f03fc;
    text-align: center;
    text-decoration: underline;
    position: sticky;
    top:0;
    margin: auto;
}

/* Descendant Combinator (element element) */
select option{
    background-color: chartreuse;
}

select optgroup{
    background-color: chartreuse;
}

h2{
    color: rgba(0,77,6,100);
    position: relative;
    left: 20%;
}

h3{
    color: #a20;
    position: relative;
    left: 25px
}

li{
 color: hsla(234, 99%, 65%,80%);
}

fieldset{
    border-radius: 25px;
    max-width: 250px;
    padding-left: 3px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px; 
}

a[href]{
    font-weight: 600;
}

section img{
    display: inline-block;
}

input:focus{
    background-color: red;
}

#boo:hover{
    display: none;
}


#movie{
    font-style: italic; 
}

.Food{
    text-transform: capitalize;
}

#essay{
    background-color: white;
}


code{
    background-color: grey;
}

input[type=submit]{
    min-width: 7%;
}

a:active{
    color:rgb(255, 0, 212);
}

.languages{
    display: grid;
    height: 500px;
    width: 400px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
}

header{
    display: flex;
    order: 3;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
    * {
      background-color: rgba(255, 255, 123, 0.781);
    }
  }

input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 15px;    
}

main span{
    margin: 16px;
}