*{
    background-color: hsl(168, 100%, 65%); 
    
}

p{
    color: rgb(33, 0, 110);  
}

/* combining 2 selectors element.class */
p.info {
    font-family: 'Indie Flower', cursive;
}

/* General sibling combinator (element + element) */
svg + aside{
    font-style: italic; 
}


/* Adjacent sibling combinator (element ~ element) */
details ~ p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /* font-size: 100px; */
}

/* Selector List (element, element) */
ul, ol{
    border: 1px solid black;
}

/* Child Combinator (element > element) */
form > h4{
    font-style: oblique; 
}

h1{
    color: #0f03fc;
    text-align: center;
    text-decoration: underline;
}

/* Descendant Combinator (element element) */
select option{
    background-color: chartreuse;
}

select optgroup{
    background-color: chartreuse;
}

h2{
    color: rgba(0,77,6,100);
}

h3{
    color: #a20;
}

li{
 color: hsla(234, 99%, 65%,80%);
}

fieldset{
    border-radius: 25px;
}

a[href]{
    font-weight: 600;
}

section img{
    display: inline-block;
}

input:focus{
    background-color: red;
}

#boo:hover{
    display: none;
}


#movie{
    font-style: italic; 
}

.Food{
    text-transform: capitalize;
}

#essay{
    background-color: white;
}

